::selection {
  background: #72cbb9;
  color: var(--text-color);
}

.light {
  --list-color: #d0e2ec;
  --text-color: rgb(37, 32, 32);
  --box-shadow-var1: #b1c0c9;
  --box-shadow-var2: #efffff;
  --header-hover: #2aa88fdc;
  --caret-color: black;
}

.dark {
  --list-color: #1d1f20;
  --text-color: #cfdee6;
  --box-shadow-var1: #0f1010;
  --box-shadow-var2: #2c2f30;
  --header-hover: #2aa88fdc;
  --caret-color: white;
}

body {
  background: var(--list-color);
  transition: 0.1s ease;
  font-family: "Nunito Sans", sans-serif;
}

.todo-container {
  width: 30vw;
  margin: 6em auto;
  padding: 20px 10px;
  text-align: center;
  color: var(--text-color);
  transition: 0.3s ease;
  border-radius: 10px;
  background: var(--list-color);
  box-shadow: 20px 20px 60px var(--box-shadow-var1),
    -20px -20px 60px var(--box-shadow-var2);
}

.task {
  padding: 0.5em;
  margin: 0.3em;
}

.task:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: #2aa88fdc;
}

.header {
  margin: 1.5em;
  font-size: 2em;
  text-align: center;
  background: var(--list-color);
  box-shadow: 5px 5px 15px var(--box-shadow-var1),
    -5px -5px 15px var(--box-shadow-var2);
  padding: 1em;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.header:hover {
  color: var(--header-hover);
  transition: 0.1s ease-in-out;
}

.create-task {
  margin: 2.5em 2em;
  width: 80%;
  outline: none;
  border: none;
  padding: 0.7em;
}

button {
  border-radius: 10px;
  background: var(--list-color);
  color: var(--text-color);
  box-shadow: 5px 5px 10px var(--box-shadow-var1),
    -5px -5px 10px var(--box-shadow-var2);
  border: none;
  outline: none;
  transition: 0.1s ease-in-out;
  padding: 10px;
  width: 50%;
}

button:active {
  transition: 5s ease-in-out;
  border-radius: 10px;
  background: var(--list-color);
  box-shadow: inset 5px 5px 10px var(--box-shadow-var1),
    inset -5px -5px 10px var(--box-shadow-var2);
}

button:hover {
  color: #2aa88fdc;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

input[type="text"] {
  background: var(--list-color);
  margin: 2.5em 2em;
  width: 80%;
  outline: none;
  padding: 0.7em;
  border: none;
  border-radius: 10px;
  color: var(--text-color);
  caret-color: var(--caret-color);
  background: var(--list-color);
  box-shadow: inset 5px 5px 10px var(--box-shadow-var1),
    inset -5px -5px 10px var(--box-shadow-var2);
}

.themeButton {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: relative;
  float: right;
  margin-right: 0.5em;
  transition: 0.5s ease-in-out;
}

.themeButton:hover {
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
