:root {
  --list-color: #d0e2ec;
  --text-color: rgb(37, 32, 32);
  --box-shadow-var1: #b1c0c9;
  --box-shadow-var2: #efffff;
}

::selection {
  background: #72cbb9;
  color: rgb(37, 32, 32);
}

body {
  background: #d0e2ec;
  /* font-family: "Baloo Thambi 2", cursive; */
  font-family: "Nunito Sans", sans-serif;
  /* font-weight: bold; */
}

.todo-container {
  width: 30vw;
  margin: 6em auto;
  padding: 20px 10px;
  text-align: center;
  color: rgb(37, 32, 32);
  border-radius: 10px;
  background: #d0e2ec;
  box-shadow: 20px 20px 60px #b1c0c9, -20px -20px 60px #efffff;
}

.task {
  padding: 0.5em;
  margin: 0.3em;
}

.task:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: #2aa88fdc;
}

.task button {
  background: rgb(12, 124, 251);
  border-radius: 10px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color: white;
  float: right;
}

.header {
  margin: 0.5em;
  font-size: 2em;
  text-align: center;
  background: #d0e2ec;
  box-shadow: 5px 5px 15px #b1c0c9, -5px -5px 15px #efffff;
  padding: 1em;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}

.header:hover {
  color: #2aa88fdc;
  transition: 0.1s ease-in-out;
}

.create-task {
  margin: 2.5em 2em;
  width: 80%;
  outline: none;
  border: none;
  padding: 0.7em;
}

button {
  border-radius: 10px;
  background: #d0e2ec;
  box-shadow: 5px 5px 10px #b1c0c9, -5px -5px 10px #efffff;
  border: none;
  outline: none;
  transition: 0.1s ease-in-out;
  padding: 10px;
  width: 50%;
}

button:active {
  transition: 5s ease-in-out;
  border-radius: 10px;
  background: #d0e2ec;
  box-shadow: inset 5px 5px 10px #b1c0c9, inset -5px -5px 10px #efffff;
}

button:hover {
  color: #2aa88fdc;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

input[type="text"] {
  background: #d0e2ec;
  margin: 2.5em 2em;
  width: 80%;
  outline: none;
  padding: 0.7em;
  border: none;
  border-radius: 10px;
  background: #d0e2ec;
  box-shadow: inset 5px 5px 10px #afbec6, inset -5px -5px 10px #f1ffff;
}
